@page "/"
@using Hutech.Exam.Client.DAL
@inject ISnackbar Snackbar

<link href="./css/login/login.css" rel="stylesheet"/>
<title>Login</title>
<!------ Include the above in your HEAD tag ---------->
@* <div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Login Form -->
        <div class="sign-in">
            <header>
                <div class="header">
                    <img class="logohead" src="images/exam/Logo.svg">
                    <div class="current-time"></div>
                    <!--code time-->
                </div>
            </header>

            <div class="component-thng-itn">
                <div class="overlap">
                    <div class="area-signin">
                        <div class="input-student-id">
                            <img class="icon-id" src="./images/login/username.png">
                            <input class="input-id" type="text" name="signin" placeholder="Nhập mã số sinh viên" @bind="ma_so_sinh_vien">
                        </div>
                        <div class=" input-student-pass">
                            <img class="icon-pass" src="./images/login/password.svg">
                            <input class="input-pass" type="password" name="signin" placeholder="Nhập password" @onkeyup="enter" @bind="password">
                        </div>
                    </div>
                    <img class="logo" src="images/exam/Logo.svg">
                    <button id="inputField" type="button" class="button-sign-in" @onclick="onClickDangNhap" >Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</div> *@

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center align-center" Style="height: 100vh;">
    <MudCard Class="pa-6" Style="background-color: #eaeaea; transform: scale(1.2)" Elevation="21">
        <!-- Logo -->
        <MudCardContent Class="d-flex justify-center">
            <MudImage Src="images/exam/Logo.svg" Width="200" />
        </MudCardContent>

        <!-- Form đăng nhập -->
        <MudCardContent>
            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudTextField T="string" Label="Nhập mã số sinh viên" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountCircle" Style="background-color: #eaeaea" InputType="InputType.Text"
                                  @bind-Value="ma_so_sinh_vien" Required="true" RequiredError="Vui lòng nhập tên tài khoản!" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Nhập password" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.VpnKey" Style="background-color: #eaeaea" InputType="InputType.Password"
                                  @bind-Value="password" @onkeyup="enter" Required="true" RequiredError="Vui lòng nhập mật khẩu!" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login" Style="background-color: rgb(0,107,179); color: white" OnClick="onClickDangNhap">Đăng nhập</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>
