@inject NavigationManager navManager

@{
    var currentPath = new Uri(navManager.Uri).AbsolutePath;
    var isLoginPage = currentPath == "/" || currentPath == "/admin";
}


<MudMainContent>
    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    @* Needed for dialogs *@
    <MudDialogProvider />

    @* Needed for snackbars *@
    <MudSnackbarProvider />
    <AuthorizeView>
        <Authorized>
            <main>
                @ChildContent
            </main>
        </Authorized>

        <NotAuthorized>
            <main>
                @if (isLoginPage)
                {
                    @ChildContent
                }
                else
                {
                    <Forbidden403></Forbidden403>
                }
            </main>
        </NotAuthorized>
    </AuthorizeView>
    <style>
        .mud-main-content {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }
    </style>
</MudMainContent>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}