@using Hutech.Exam.Client.Authentication
@using Hutech.Exam.Client.Components.Dialogs
@inject NavigationManager navManager
@inject IDialogService Dialog

@{
    var currentPath = new Uri(navManager.Uri).AbsolutePath;
    var isLoginPage = currentPath == "/" || currentPath == "/admin";
}


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<AuthorizeView>
    <Authorized>
        <main>
            @ChildContent
        </main>
    </Authorized>

    <NotAuthorized>
        <main>
            @if (isLoginPage)
            {
                @ChildContent
            }
            else
            {
                <Forbidden403></Forbidden403>
            }
        </main>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

}