@using Hutech.Exam.Shared.DTO
@using System.Text.Json
@using System.Text
@using System.Text.Json.Serialization
@inject ISnackbar Snackbar
@inject IDialogService Dialog

<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<MudDialog Style="max-width: 500px; max-height: auto; overflow: visible">
    <DialogContent>
        <p>
            Nội dung câu hỏi và câu trả lời được định dạng theo HTML tag @htmlTag.
            <ul>
                <li>@boldTag: <b>in đậm văn bản</b>.</li>
                <li>@italicTag: <i>in nghiêng văn bản.</i></li>
                <li>@underlineTag: <u>gạch dưới văn bản.</u></li>
                <li>@latexTag: 
                    @if(latextText != null)
                    {
                        <Hutech.Exam.Client.Pages.Latext.Equation Value="@latextText"></Hutech.Exam.Client.Pages.Latext.Equation>
                    }
                </li>
            </ul>
        </p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="OnClickThoat" Color="Color.Default">Thoát</MudButton>
    </DialogActions>
</MudDialog>
<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    const string htmlTag = "<kiểu format>text</kiểu format>";
    const string boldTag = "<b>text</b>";
    const string italicTag = "<i>text</i>";
    const string underlineTag = "<u>text</u>";

    const string latexTag = "<latex>text</latex>";
    const string latextText = "E = mc^2";
    private void OnClickThoat()
    {
        MudDialog?.Cancel();
    }
}
