@using Hutech.Exam.Client.API
@using Hutech.Exam.Shared.DTO
@using System.Text.Json
@using System.Text
@using System.Text.Json.Serialization
@using Hutech.Exam.Shared.DTO.Custom
@using Hutech.Exam.Shared.DTO.Request.Lop
@inject ISnackbar Snackbar
@inject IDialogService Dialog

<MudDialog Style="max-width: 450px; max-height: auto; overflow: visible">
    <DialogContent>
        <MudGrid>
            <MudItem xs="4" Style="align-content: center"><MudText>Tên khoa:</MudText></MudItem>
            <MudItem xs="8"><MudText><span class="title-text">@Department?.TenKhoa</span></MudText></MudItem>

            <MudItem xs="4" Style="align-content: center"><MudText>Tên lớp:</MudText></MudItem>
            <MudItem xs="8"><MudTextField Label="Tên lớp" Required @bind-Value="@tempClassroom.TenLop" InputType="InputType.Text"></MudTextField></MudItem>

            <MudItem xs="4" Style="align-content: center"><MudText>Ngày bắt đầu:</MudText></MudItem>
            <MudItem xs="8">
                <MudDatePicker Editable="true" Label="Ngày bắt đầu" @bind-Date="@tempClassroom.NgayBatDau" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Dialog" />
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined" OnClick="OnClickExit" Color="Color.Default">Thoát</MudButton>
        @if (!IsEdit)
        {
            <MudButton Variant="Variant.Outlined" OnClick="async () => await OnClickAddAsync()" Color="Color.Success">Thêm</MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Outlined" OnClick="async () => await OnClickEditAsync()" Color="Color.Success">Sửa</MudButton>
        }

    </DialogActions>
</MudDialog>
<style>
    .my-custom-class {
    backdrop-filter: blur(10px);
    }

    .title-text {
    font-weight: bold;
    }
</style>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    [Parameter][EditorRequired] public bool IsEdit { get; set; } = false;

    [Parameter] public LopDto? Classroom { get; set; } = default!;

    [Parameter][EditorRequired] public KhoaDto? Department { get; set; } = default!;

    [Inject] private ISenderAPI SenderAPI { get; set; } = default!;

    private LopDto tempClassroom { get; set; } = default!;

    private const string INVALID_FORM = "Vui lòng nhập đầy đủ thông tin";


    protected override async Task OnInitializedAsync()
    {
        HandleInput();
        await base.OnInitializedAsync();
    }

    private void HandleInput()
    {
        if (IsEdit && Classroom != null)
        {
            tempClassroom = new LopDto(Classroom);
            return;
        }
        tempClassroom = new();
    }

    private bool IsValidForm()
    {
        return !string.IsNullOrWhiteSpace(tempClassroom.TenLop) && tempClassroom.NgayBatDau != default;
    }


    private void OnClickExit()
    {
        MudDialog?.Cancel();
    }

    private async Task OnClickAddAsync()
    {
        if (!IsValidForm())
        {
            Snackbar.Add(INVALID_FORM, Severity.Error);
        }
        var result = await InsertAPI(new LopCreateRequest
            {
                TenLop = tempClassroom.TenLop ?? string.Empty,
                NgayBatDau = tempClassroom.NgayBatDau ?? DateTime.Now,
				MaKhoa = Department?.MaKhoa ?? -1
            });
        if (result != null && result.MaKhoa != 0)
        {
            MudDialog?.Close(DialogResult.Ok(result));
        }
    }

    private async Task OnClickEditAsync()
    {
        if (!IsValidForm())
        {
            Snackbar.Add(INVALID_FORM, Severity.Error);
        }
        var result = await UpdateAPI(tempClassroom.MaLop, new LopUpdateRequest
            {
                TenLop = tempClassroom.TenLop ?? string.Empty,
                NgayBatDau = tempClassroom.NgayBatDau ?? DateTime.Now,
				MaKhoa = Department?.MaKhoa ?? -1
            });
        if (result != null && result.MaKhoa != 0)
        {
            MudDialog?.Close(DialogResult.Ok(result));
        }
    }

    private async Task<KhoaDto?> InsertAPI(LopCreateRequest khoa)
    {
        var response = await SenderAPI.PostAsync<KhoaDto>("api/lops", khoa);
        return (response.Success) ? response.Data : null;
    }

    private async Task<KhoaDto?> UpdateAPI(int id, LopUpdateRequest khoa)
    {
        var response = await SenderAPI.PutAsync<KhoaDto>($"api/lops/{id}", khoa);
        return (response.Success) ? response.Data : null;
    }
}